<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispactcher</filter-name>
        <filter-class>anhnd.filter.FilterDispactcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispactcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>anhnd.listeners.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>anhnd.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeServlet</servlet-name>
        <servlet-class>anhnd.servlets.SearchCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>anhnd.servlets.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCakeServlet</servlet-name>
        <servlet-class>anhnd.servlets.AddNewCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeServlet</servlet-name>
        <servlet-class>anhnd.servlets.CreateCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>anhnd.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCakeServlet</servlet-name>
        <servlet-class>anhnd.servlets.EditCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeServlet</servlet-name>
        <servlet-class>anhnd.servlets.UpdateCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>anhnd.servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderServlet</servlet-name>
        <servlet-class>anhnd.servlets.GetOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeServlet</servlet-name>
        <url-pattern>/SearchCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCakeServlet</servlet-name>
        <url-pattern>/AddNewCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeServlet</servlet-name>
        <url-pattern>/CreateCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCakeServlet</servlet-name>
        <url-pattern>/EditCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeServlet</servlet-name>
        <url-pattern>/UpdateCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderServlet</servlet-name>
        <url-pattern>/GetOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
</web-app>
